@main-theme-color: #3D90E8;
@main-theme-blueLight: #55A6FF;
@main-theme-blueLighter: #EBF3FC;
@main-theme-blueWeak: #2E8CF0;

@main-theme-blueDark: #263547;
@main-theme-blueDarker: #1B2838;

@white: #fff;
@yellow: #FFF28D;
@green: #2ABD72;
@orange: #FF7204;
@red: #E72F1F;
@border: rgba(180, 184, 209, 0.60);
@border-gray: #D5D5D5;
@border-grayer: #D3D3D3;
@border-normal: #DCDFE6;
@border-light: rgba(180, 184, 209, 0.2);
@border-lighter: #F4F5F6;
@border-lightest: #E0E1E4;
@border-weak: #efefef;
@border-weaker: #D8D8D8;
@border-theme: #E0E1E4;

@background: #EFF0F7;
@background-table-theme: #F8F8F9;
@background-dark: #c5c5c5;
@background-darker: #838383;
@background-grey: #F7f7f7;
@background-greyer: #f2f3f5;
@background-greyest: #F4F5F6;
@background-blue-light: #E9F4FD;
@background-green-light: #F2FCF7;
@background-red-light: rgba(255, 172, 140, .15);
@background-blueGrey: #72859B;

@font-color: #6B6F7A;
@font-dark: #333;
@font-lightDark: #303133;
@font-light: #969696;
@font-lightest: #bcbcbc;
@font-blueGrey: #B7BAC2;

@font-smaller: 11px;
@font-small: 12px;
@font-normal: 14px;
@font-large: 16px;
@font-larger: 18px;
@font-largest: 20px;
@font-huge: 22px;
@font-huger: 24px;
@font-hugest: 28px;

.info {
  color: @green !important;
}
.danger {
  color: @red !important;
}


.border-right-dashed {
  border-right: 1px dashed @border-theme;
}
@media screen and (max-height: 768px) {

}


